.slidercontainer {
    max-width: 660px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.icons {
    width: 100%;
}

.slick-slide {
    margin: 0 20px;
    text-align: center;
}

.slick-slide img {
    height: 60px;
    margin: 0 auto;
    max-width: 100%;
}

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    user-select: none;
    touch-action: pan-y;
}

.slick-list, .slick-track {
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
}

.slick-track::before {
    display: table;
}

.slick-track::after {
    display: table;
    content: "";
    clear: both;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: 0;
}
